@font-face {
    font-family: 'OsloII';
    src: url('/fonts/OsloII.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OsloII';
    src: url('/fonts/OsloII-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SilkRemington';
    src: url('/fonts/SilkRemington-SBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}